--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
pandas
rapidfuzz
unidecode
sentence-transformers
torch==2.2.0+cpu
numpy
openpyxl
supabase
python-dotenv
google-generativeai
huggingface_hub
requests